<article class="pg-card surface-card">
      <a [routerLink]="['/playgrounds', playground.id]" class="pg-card-image-link">
        <div class="pg-card-image">
          <img [src]="playground.imageUrl" [alt]="playground.name" loading="lazy" />
          <span class="sport-chip">{{ playground.sport }}</span>
        </div>
      </a>

      <div class="pg-card-body">
        <div class="flex justify-between items-start mb-2">
          <h3 class="pg-card-title">{{ playground.name }}</h3>
          <span class="pg-price font-display">
            <b>{{ playground.pricePerHour }}</b> EGP<span class="text-muted text-sm">/hr</span>
          </span>
        </div>

        <p class="pg-location flex text-muted text-sm mb-3">
         <svg class="w-5 h-5 text-gray-800 dark:text-gray-400" aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/>
        </svg>  {{ playground.location }} </p>

        <div class="flex items-center gap-2 mb-4">
          <div class="stars">
            @for (s of starsArr; track $index) {
              <span class="star" [class.filled]="$index < Math.round(avgRating)">★</span>
            }
          </div>
          <span class="text-sm text-muted">({{ reviewCount }} reviews)</span>
        </div>

        <a [routerLink]="['/playgrounds', playground.id]" class="btn btn-primary btn-full">
          View & Book
        </a>
      </div>
</article>
